{% extends "base.html" %}

{% block extra-head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
<!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
 <![endif]-->
 <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
{% endblock extra-head %}

{% block content %}
    <div id="quest-map"></div>

    <div id="tiny" class="reveal-modal">
        <h2>Awesome. I have it.</h2>
        <p class="lead">Your couch.  I it's mine.</p>
        <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>

{% endblock content %}

{% block extra-footer %}
<script type="text/javascript">

    var lat = '{{ request.LOCATION_DATA.latitude }}';
    var lng = '{{ request.LOCATION_DATA.longitude }}';
    lat = parseFloat(lat);
    lng = parseFloat(lng);

    var map = L.map('quest-map', {zoomControl: false}).setView([lat, lng], 13);
    var marker = L.marker([lat, lng]).addTo(map);
    var circle = L.circle([lat, lng], 1400, {
        color: 'blue',
        weight: 1,
        fillColor: 'blue',
        fillOpacity: 0.1
    }).addTo(map);

    L.control.zoom({position:'bottomleft'}).addTo(map);


    L.tileLayer('http://{s}.tile.cloudmade.com/9e2c265c5893488d80f53cfb8a43370d/997/256/{z}/{x}/{y}.png', {
        attribution: '',
        detectRetina: true,
        maxZoom: 18
    }).addTo(map);


    map.locate({
        watch: true,
        maximumAge: 60,
        enableHighAccuracy: true
    });
    map.on('locationfound', function(data){

        map.setView([data.latlng.lat, data.latlng.lng], 13);
        var latlng = data.latlng;
        marker.setLatLng(latlng);
        marker.update();
        circle.setLatLng(latlng);
        circle.setRadius(1000);

        var post_data = {"lon": data.latlng.lat, "lat": data.latlng.lng};
        $.get("/ajax/nearest_quests/", post_data, function(data){
            for (var i=0; i<data.length; i++){
                var marker_data = data[i];
                var marker = L.marker(
                    [marker_data.lon, marker_data.lat],
                    {
                        title: marker_data.name,
                        marker_id: marker_data.marker_id,
                    }
                ).
                addTo(map).bindPopup(
                    "<b>"+marker_data.name+"</b><br><p><b>Type:</b> "+marker_data.type+"</p><p><b>Difficalt:</b> "+marker_data.level+"</p><p><a id='"+marker_data.quest_id+"' href='#' class='tiny button'>Play quest</a></p>"
                ).
                addEventListener('click', function(){
                    $('.tiny, .button').click(function(evnt){
                        $.get("/ajax/marker_fullinfo/", {"marker_id": marker.options.marker_id}, function(data){
                            $(".leaflet-popup-content-wrapper").html(data);
                            $(".leaflet-popup-content-wrapper").css("width", 400);
                            $(".leaflet-popup-content-wrapper").css("height", 100);

                        });
                    });
                    marker.addTo(map).bindPopup(
                            "<b>"+marker_data.name+"</b><br><p><b>Type:</b> "+marker_data.type+"</p><p><b>Difficalt:</b> "+marker_data.level+"</p><p><a id='"+marker_data.quest_id+"' href='#' class='tiny button'>Play quest</a></p>"
                        )
                });
            };
        });
    });


</script>
{% endblock extra-footer %}
